<!DOCTYPE html>
<html>
<head>
    <title>Окна и двери </title>
</head>
<style>
    body{
        background-color: darkolivegreen;
    }
</style>

<body>

<h1>Добро пожаловать!</h1><hr>
<#if user.email??>
    <h3>Имя пользователя: ${user.name}</h3>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}">
    </form>
    <#if user.isAdmin()>
        <a href="/admin">Панель администратора</a>
        </#if>
<#else>
    <a href="/login">Вход</a></h1>
</#if>
<hr>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}"><br><br>
    <input type="submit" value="Выход"/>
</form>
<h4>Лучшие двери для уютной жизни</h4>

<form action="/" method="get">
    Поиск по названию объявления: <input type="text" name="title">
    <input type="submit" value="Поиск"/>
</form>
<#list products as product>
    <div>
<#--        //отображение листа-->
        <p><b>${product.title}</b>${product.price} руб. | <a href="/product/${product.id}">Подробнее..</a></p>
    </div>
<#else>
    <h3>Товаров нет!</h3>
</#list>
<br>
<hr>
<#if user.email??>

    <h3>Создать новый товар</h3>
    <form action="/product/create" method="post" enctype="multipart/form-data">
        Название объявления: <input type="text" name="title"/><br><br>
        Описание объявления: <input type="text" name="description"/><br><br>
        Цена: <input type="number" name="price"/><br><br>
        Автор: <input type="text" name="author"/><br><br>
        Первое фото: <input type="file" name="file1"/><br><br>
        Второе фото: <input type="file" name="file2"/><br><br>
        Третье фото: <input type="file" name="file3"/><br><br>
        <input type="hidden" name="_csrf" value="${_csrf.token}">

        <input type="submit" value="Добавить товар"/>
    </form>
</#if>
</body>
</html>